# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*
.env*.local

# Typescript
*.tsbuildinfo

# Android
android/app/build/

# iOS
ios/Pods/
ios/build/
ios/.bundle/

# Build files
*.apk
*.aab
*.ipa
*.app
*.dmg

# JetBrains IDEs
.idea/

# VS Code
.vscode/

# Temporary files
*.swp
*.swo

# Log files
*.log

# Expo development builds
.expo/
.expo-shared/

# React Native packager
.react-native-packager-cache/
